<div class="new-meeting-main">
  <div class="new-meeting-form">
    <%= simple_form_for @meeting do |f| %>
      <%= f.input :description, label: "What are you working on?" %>
      <%= f.input :date, as: :datetime %>
      <%= f.input :location, :input_html => { id: 'meeting-address' } %>
      <%= f.button :submit %>
    <% end %>
  </div>
  <div id="map"
       style="width: 40%;
       height: 600px;"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>">
  </div>
</div>

