<%# @meeting.users.each do |user| %>
  <%#= user.email %>
<%# end %>

<div class="meeting-container">
  <div class="meeting-info">
    <h1><%= @meeting.location %></h1>
    <p> <%= @meeting.date %></p>
    <p>Hosted by <%= @host.first_name %> <%= @host.last_name %></p>
    <p>more info</p>
    <p>more info</p>
  </div>
  <div id="map" style="width: 40%;
    height: 300px;">
    <h5>placeholder</h5>
  </div>
  <div class="host-details">
    <h3><%= @host.first_name %></h3>
  </div>
  <div class="meeting-actions">
    <h5>placeholder</h5>
    <%= link_to "Edit this meeting", edit_meeting_path(@meeting) %>
    <%= link_to "Delete this meeting", meeting_path, method: :delete %>
  </div>
</div>
