<div class="meeting-container">
  <div class="meeting">
    <div class="meeting-info">
      <div class="meeting-details">
        <h5><%= @meeting.location %></h5>
        <p> <%= @meeting.date %></p>
        <p><%= @meeting.description %></p>
        <p>Hosted by <%= @meeting.owner.first_name %> <%= @meeting.owner.last_name %></p>
          <div class="host-card">
            <div class="host-card-info">
              <img src="https://img.discogs.com/J0dDznbRdLgNsWDDktbsC0xCFRA=/fit-in/500x500/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-3649743-1338847217-5371.jpeg.jpg" alt="" class="host-card-image">
              <h6><%= @meeting.owner.profession %></h6>
            </div>
          </div>
      </div>
      <div class="workspace-avatars">
        <h6>Attending:</h6>
        <ul>
          <li><img src="https://www.jackholdsworth.com/profile.png" alt=""></li>
          <li><img src="https://www.jackholdsworth.com/profile.png" alt=""></li>
          <li><img src="https://www.jackholdsworth.com/profile.png" alt=""></li>
          <li><img src="https://www.jackholdsworth.com/profile.png" alt=""></li>
        </ul>
      </div>
      <div class="meeting-actions">
        <% if policy(@meeting).update? && policy(@meeting).destroy? %>
          <%= link_to "Edit this meeting", edit_meeting_path(@meeting), class: 'button-wrk' %>
          <%= link_to "Delete this meeting", meeting_path, method: :delete, class: 'button-wrk' %>
        <% else %>
          <div id="new-attendance-render">
            <% if @current_meeting.empty? %>
              <%= link_to "Request to join this worksp_ce", new_meeting_attendee_path(@meeting), remote: true %> <br>
            <% else %>
              <h6>Request sent</h6>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="meeting-map">
    <div class="show-map-container">
      <div id="map"
        style="width: 100%;
        height: 500px;
        align-self: flex-start;"
        data-markers="<%= @marker.to_json %>"
        ></div>
    </div>
  </div>
</div>

