<% if current_user.hosted_meetings.length > 0 %>
  <h5>Your workspaces</h5>
  <div class="meeting-list-container hosting-grid">
    <% current_user.hosted_meetings.each do |meeting|  %>
      <div class="workspace-card">
        <span id="count"><%= meeting.attendees.where(confirmed: true).count %></span>
        <!-- <img src="https://source.unsplash.com/featured/?workspace" alt="cover-image" class="workspace-image"> -->
        <div class="workspace-avatars">
          <ul>
            <li><img src="https://www.jackholdsworth.com/profile.png" alt=""></li>
            <li><img src="https://www.jackholdsworth.com/profile.png" alt=""></li>
            <li><img src="https://www.jackholdsworth.com/profile.png" alt=""></li>
            <li><img src="https://www.jackholdsworth.com/profile.png" alt=""></li>
            <li><img src="https://www.jackholdsworth.com/profile.png" alt=""></li>
            <li><img src="https://www.jackholdsworth.com/profile.png" alt=""></li>
          </ul>
        </div>
        <div class="workspace-card-info">
          <h6><%= meeting.dateFormat %></h6>
          <h6><%= link_to meeting.location, meeting_path(meeting) %></h6>
        </div>
      </div>
    <% end %>
  </div>
  <h5>Workspaces you're attending:</h5>
  <div class="meeting-list-container sent-grid">
    <% @pending_requests.confirmed.each do |request| %>
      <div class="request-card">
        <div class="request-body">
          <img src="https://www.jackholdsworth.com/profile.png" alt="" class="">
          <div id="" class="request-info">
            <p><%#= request.meeting.dateFormat %></p>
            <p>Hosted by: <%= request.meeting.owner.username  %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h5><%= link_to "Create a new workspace", new_meeting_path  %></h5>
<% end %>
