<% if @pending_requests.empty? %>
  <h5><%= link_to "Search for a Workspace", meetings_path %></h5>
<% else %>
  <div class="meeting-list-container">
    <h5>Workspaces you're attending:</h5>
    <% @pending_requests.confirmed.each do |request| %>
      <div class="request-card">
        <div class="request-body">
          <img src="https://www.jackholdsworth.com/profile.png" alt="" class="">
          <div id="" class="request-info">
            <p><%= link_to request.meeting.title, meeting_path(request.meeting) %></p>
            <p><%= request.meeting.date %></p>
            <p>Hosted by: <%= request.meeting.owner.username  %></p>
          </div>
        </div>
      </div>
    <% end %>
    <h5>Waiting for a response:</h5>
    <% @pending_requests.awaiting.each do |request| %>
      <div class="request-card">
        <div class="request-body">
          <img src="https://www.jackholdsworth.com/profile.png" alt="" class="">
          <div id="" class="request-info">
            <p><%= link_to request.meeting.title, meeting_path(request.meeting) %></p>
            <p><%= request.meeting.date %></p>
            <p>Hosted by: <%= request.meeting.owner.username  %></p>
          </div>
        </div>
      </div>
    <% end %>
    <h5>Declined requests:</h5>
    <% @pending_requests.declined.each do |request| %>
      <div class="request-card">
        <div class="request-body">
          <img src="https://www.jackholdsworth.com/profile.png" alt="" class="">
          <div id="" class="request-info">
            <p><%= link_to request.meeting.title, meeting_path(request.meeting) %></p>
            <p><%= request.meeting.date %></p>
            <p>Hosted by: <%= request.meeting.owner.username  %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
